<a href="https://colab.research.google.com/github/pedroh6s/Introdu-o-ao-PANDAS/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#dar o apelido pd é boa prática

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/FONTES DE DADOS/ocorrencia_2010_2020 - ocorrencia_2010_2020.csv",sep=";")
df
#chamar o dataframe de df é boa prática
#o separador padrão do pandas é a vírgula
#ao chamar o dataframe ele por padrão exibe as 5 primeiros e também os 5 últimos resultados
#a primeira coluna é uma coluna de rótulos para uma localização do usuário, mas não equivalem ao índice do dataframe

In [ ]:
df.head()
df.tail()
#head exibe os primeiros resultados, tail os últimos
#head e tail por padrão trazem 5 linhas, mas é possível definir quantas linhas você desejar

In [ ]:
df.dtypes

Exibe o tipo de dados de cada coluna se tivermos apenas um dado em toda a coluna com tipo de dados diferente dos demais, a resposta para aquela coluna será objeto.

In [ ]:
#df.ocorrencia_dia.dt.month
#dt.month trás os valores de data naquela coluna, mas se e somente se o tipo de dados da coluna for data
#caso contrário dá erro

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/FONTES DE DADOS/ocorrencia_2010_2020 - ocorrencia_2010_2020.csv",sep=";",parse_dates=['ocorrencia_dia'])
df
#o comando parse_date transforma as colunas desejadas em datas.

In [ ]:
df.dtypes

Quando reexibimos o dataframe percebemos a modificação no campo transformado.

In [ ]:
df.ocorrencia_dia.dt.month

E agora é possível usar o comando dt.month e aí temos acesso aos meses de cada registro nessa coluna.

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/FONTES DE DADOS/ocorrencia_2010_2020 - ocorrencia_2010_2020.csv",sep=";",parse_dates=['ocorrencia_dia'], dayfirst=True)
df

O comando parse_date transforma as colunas desejadas em datas.

A inversão de datas só funciona para dias até 12 acima desse dia o pandas não inverte porque ele já sabe que não existe mês 13 em diante.

Então vai ficar meio bagunçado no dataframe, mas é importante ter consciência disso.

Também é preciso prestar atenção no data que aparece no dataframe antes do primeiro parse de datas.

Portanto é uma boa prática antes de fazer qualquer conversão no seu dataframe observar bastante os campos para saber o que esperar após a conversão para avaliar se ela foi realizada corretamente e permitir a correção de possíveis erros.

Um bom macete seria antes de mais nada pedir .head(10) e .tail(10), assim temos um volume um pouco maior de dados para facilitar nossa compreensão do dataframe e dos valores esperados após as conversões, isso evita erros e retrabalho.

Se o volume de dados for muito grande, podemos e devemos aumentar o tamanho da nossa amostragem. Para a casa das centenas. Mas não existe regra, depende da sensibilidade e senso crítico do analista.

In [ ]:
df.ocorrencia_dia.dt.month

Agora verificamos que o comando month retorna os valores corretos.

In [ ]:
df.loc[5751, 'codigo_ocorrencia2']

79844

Dentro da função loc usados como coordenadas o rótulo de linhas e o nome da coluna.

df.loc[rótulo da linha, nome da coluna]

df.loc[número, 'string'] Se a coluna for string é claro

O rótulo de coluna é um parâmetro opcional e quando não informado o pandas retorna toda a linha informada, com todas as colunas definidas no dataframe. Como podemos ver abaixo:

In [ ]:
df.loc[5751]

codigo_ocorrencia                         79844
codigo_ocorrencia2                        79844
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                RIO DE JANEIRO
ocorrencia_uf                                RJ
ocorrencia_aerodromo                       SBJR
ocorrencia_dia              2020-12-31 00:00:00
ocorrencia_hora                        13:24:00
total_recomendacoes                           0
Name: 5751, dtype: object

In [ ]:
df.loc[[5, 50, 100],]

Também é possível definir múltiplas linhas

Para isso basta usar uma lista contendo múltiplos rótulos de linhas

df.loc[[lista com rótulos de linhas]]

df.loc[[x, y, z]]

Como o eixo X é opcional, podemos informá-lo ou não.

In [ ]:
df.loc[[5, 50, 100], 'codigo_ocorrencia2']

Também podemos definir um intervalo de linhas a verificar, como se fosse um intervalo do excel, onde informamos o valor usamos representando o início do intervalo, dois pontos, seguida do valor representando o final do intervalo.

df.loc[[início:fim]]

In [ ]:
df.loc[1:25]

Mais uma vez é possível filtrar as colunas de interesse ou não.

É possível a qualquer momento informar múltiplas colunas, para isso basta informar o rótulo de cada uma delas.

df.loc[[X, Y], [nome_coluna1, nome_coluna2]

In [ ]:
df.loc[[1,5], ['codigo_ocorrencia', 'codigo_ocorrencia']]

Quando filtramos intervalos e definimos as colunas, não precisamos colocar o intervalo entre colchetes.

In [ ]:
df.loc[1:2, 'codigo_ocorrencia']

Como o eixo Y é obrigatório e vem primeiro, caso você não informe um rótulo de linhas, o primeiro valor informado, que será o de coluna, será interpretado como a linha.
Como as linhas não possuem aqueles rótulos, o python retornará uma mensagem de erro.

A função is unique verifica linha a linha se cada valor nessa coluna nunca se repete.

Caso exista qualquer repetição ele retorna False.

Quantos todos os valores são únicos a função retorna True.

df.**nome_da_coluna**.is_unique

In [ ]:
df.ocorrencia_classificacao.is_unique

In [ ]:
df.codigo_ocorrencia.is_unique

É possível atribuir uma coluna do dataframe como a nova referência para rótulos, ou seja, usar como uma espécie de chave primária.

df.set_index(**coluna_escolhida**)

Após esse comando temos como output uma visualação dos dados organizados da maneira desejada.

Mas fazendo apenas essa operação a coluna não fica setada como a coluna padrão para rótulos. Como podemos verificar se usarmos um comando head, por exemplo.

Para indicar que você deseja que essa mudança seja aplicada ao dataframe como um todo, é necessário utilizar outro parâmetro dentro da função set_index, o parâmetro **inplace** recebendo True.

df.set_index(**coluna_escolhida**,**inplace=True**)

Quando usamos esse comando o output é a alteração no dataframe solicitado, mas não existe visualização prévia de dados.

Para verificar a mudança é necessário pedir algum tipo de visualização do dataframe.

In [ ]:
df.set_index('codigo_ocorrencia')

In [ ]:
df.head()

In [ ]:
df.set_index('codigo_ocorrencia', inplace=True)

In [ ]:
df.head()

                   codigo_ocorrencia2  ... total_recomendacoes
codigo_ocorrencia                      ...
40211                           40211  ...                   0
40349                           40349  ...                   0
40351                           40351  ...                   0
39527                           39527  ...                   0
40324                           40324  ...                   0

[5 rows x 8 columns]

Como agora nosso dataframe sofreu essa alteração, quando usarmos um valor existente na coluna definida como rótulo (chave primária), agora podemos usar os valores únicos dessa coluna como nosso parâmetro de linha (eixo Y) e utilizá-lo para fazer nossas procuras e torná-las mais eficientes.

In [ ]:
df.loc[40324]

**OBSERVAÇÃO MEGA MASTER IMPORTANTE**

É possível definir uma coluna com valores repetidos como rótulo de dados para um dataframe.

O python processa, não gera erro.

Porém não é uma boa prática e fortemente desaconselhado, pois existem formas mais eficientes e acertadas de realizar esse tipo de operação de filtro.

A qualquer momento podemos remover o rótulo de dados atual do nosso dataframe, basta usar a função reset_index.

df.**reset_index(inplace=True)**

Assim como no **set_index** aqui também não teremos uma visualização no output e para conferirmos é necessário usar um **.head()**

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.head()

Podemos não só abandonar a coluna de referência anterior, como também removê-la ao mesmo tempo, usando o mesmo comando.

Para isso precisamos usar o parâmetro opcional **drop**

df.**reset_index(drop=True, inplace=True)**

Como de costume, não temos uma visualização no output, então precisamos usar algum comando de visualização para conferir nossas alterações, como o comando **.head()**

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()